<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangshun.apptest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycler.RecyclerStaggeredGridActivity" />
        <activity android:name=".recycler.RecyclerLinearActivity" />
        <activity android:name=".recycler.RecyclerGridActivity" />
        <activity android:name=".recycler.RecyclerStaggeredGrid2Activity" />
        <activity android:name=".recycler.CardView2StaggeredGridActivity" />
        <activity android:name=".view.qqlistview.QQListViewActivity" />
        <activity android:name=".view.commomlistview.CommonListViewActivity" />
        <activity android:name=".view.zdy.CustomTitleActivity" />
        <activity android:name=".http.OkHttpActivity" />
        <activity android:name=".view.zdy.CustomImageActivity"></activity>
    </application>

</manifest>